:root{
    --colorBonito: rgb(255, 0, 0);
}

#EstiloVariable{
    color:var(--colorBonito);
}

img{
    width: 50px;
}

video{
    width: 200px;
}

table {
    
    border-color: rgba(37, 84, 89, 0.917);
    border-radius: 10%;
    border-style:solid
}

tr{
    align-content: center;
}

#morado{
    color:rgb(100 20 150/50%);
    
}

#cafe{
    color:rgb(150 70 10);
}

#backgroundImage{
    background: linear-gradient(red, orange, yellow, green, blue);
    width:fit-content;
    height:fit-content;
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pseudoelementos ::first-line{
    color:blue;
    font-size: 100px;
}

ul#prueba_pseudoelementos ::marker{
    color:blueviolet;
}
